<main *ngIf="feed && feed[randInd]; else loading;"
	fxLayout="row" fxLayoutAlign.xs="column" fxLayoutAlign="center start"
	fxLayoutGap="5px">
	<mat-card fxLayout="column" fxLayoutAlign="start center" fxFlex>
		<mat-card-header>
			<mat-card-title>
				<a mat-raised-button [href]="feed[randInd].link" target="_blank" fxFill>
					{{(feed[randInd].title.legth)? feed[randInd].title : 'Untitled'}}
				</a>
			</mat-card-title>
			<mat-card-subtitle>
				<p>by: {{feed[randInd].author}}</p>
			</mat-card-subtitle>
			<img mat-card-avatar [src]="feed[randInd].media.m" />
		</mat-card-header>
		<img mat-card-image [src]="feed[randInd].media.m" />
	</mat-card>
	<mat-card fxFlex>
		<mat-card-actions>
			<button mat-raised-button (click)="refreshImage();" fxFill>Refresh Image</button>
		</mat-card-actions>
		<mat-card-content>
			<p class="padded scroll">{{feed[randInd].description}}</p>
		</mat-card-content>
	</mat-card>
</main>

<ng-template #loading>
	<p class="padded">Please wait for the Flickr API to respond...</p>
</ng-template>
